<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PinoccioSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PinoccioSDKExampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PinoccioSDKUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D87A56C7190A154D00D6A9F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87A56E4190A154E00D6A9F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C84F7D18FA480C00305F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C84F8D18FA480C00305F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C84FA718FA5F0100305F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
